/* ROOT VARIABLES */

:root {
  --primary-color: rgb(93, 160, 223);
  --secondary-color: rgb(41, 145, 172);
  --secondary-color-hover: rgb(50, 158, 185);
  --primary-text-color-hover: rgb(13, 59, 146);
  --primary-gold-border: rgb(255, 208, 0);
  --main-width: 1050px;
}

.main {
  max-width: var(--main-width);
  margin: 0 auto;
}



